<template>
  <v-app>
    <v-container fluid fill-height>
      <v-layout justify-center align-center>
        <v-flex xs12 sm6 md4>
          <v-card>
            <v-card-title
              class="primary title white--text justify-center"
            >
              {{ $t('title.login') }}
            </v-card-title>
            <v-container grid-list-sm class="pa-4">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-form @submit.prevent="validateBeforeSubmit">
                    <v-text-field
                      :error-messages="errors.has('username') ? errors.collect('username') : []"
                      v-validate="'required|email'"
                      data-vv-as="Tài khoản"
                      prepend-icon="person"
                      name="username"
                      label="Tài khoản"
                      v-model="login.username">
                    </v-text-field>
                    <v-text-field
                      :error-messages="errors.has('password') ? errors.collect('password') : []"
                      prepend-icon="lock"
                      v-validate="'required|min:3'"
                      data-vv-as="Mật khẩu"
                      name="password"
                      label="Mật khẩu"
                      type="password"
                      v-model="login.password">
                    </v-text-field>
                    <v-flex xs12 text-xs-center>
                      <v-btn
                        :loading="submitting"
                        :disabled="submitting"
                        color="primary"
                        type="submit"
                        >
                        Đăng nhập
                      </v-btn>
                    </v-flex>
                  </v-form>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'Login',
  data () {
    return {
      login: {
        username: '',
        password: ''
      },
      submitting: false
    }
  },
  computed: {
    ...mapGetters(['isFetchingApi'])
  },
  methods: {
    ...mapActions(['fetchApi', 'setLogged']),
    validateBeforeSubmit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.fetchApi({
            baseURL: process.env.VUE_APP_API_URL,
            url: 'login',
            method: 'post',
            data: {
              username: this.login.username,
              password: this.login.password
            },
            success: this.loggedSuccess
          })
        } else {
          this.$store.dispatch('showNotify', {
            title: 'Cảnh báo',
            body: 'Vui lòng kiểm tra các trường cần nhập!',
            type: 'warning'
          })
        }
      })
    },
    loggedSuccess (response) {
      this.setLogged(response)
      if (this.$route.query.redirect) {
        this.$router.push(this.$route.query.redirect)
      } else {
        this.$router.push({name: 'home'})
      }
    }
  },
  mounted () {

  }
}
</script>

<style lang="css" scoped>
</style>
