<template>
  <v-app>
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      fixed
      v-model="drawer"
      app
      :mini-variant.sync="miniDrawerState"
    >
      <navigation />
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="blue darken-3"
      dark
      app
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Google Contacts</span>
      </v-toolbar-title>
      <breadcrumb class="hidden-sm-and-down" />
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn icon large>
        <v-avatar size="32px" tile>
          <img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          >
        </v-avatar>
      </v-btn>
    </v-toolbar>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Navigation from './Navigation'
import Breadcrumb from './Breadcrumb'
export default {
  components: {
    Navigation,
    Breadcrumb
  },
  computed: {
    ...mapGetters(['miniDrawer', 'drawerModel']),
    drawer: {
      get () {
        return this.drawerModel
      },
      set (value) {
        this.setDrawer(value)
      }
    },
    miniDrawerState: {
      get () {
        return this.miniDrawer
      },
      set (value) {
        this.setMiniDrawer(value)
      }
    }
  },
  methods: {
    ...mapActions(['setMiniDrawer', 'setDrawer'])
  }
}
</script>
