<template>
  <v-layout id="scroll-view" class="scroll-y" :style="{height: viewHeight + 'px'}" v-scroll:#scroll-view="onScroll" column>
    <v-flex xs12>
      <slot :items="items"></slot>
    </v-flex>
    <v-flex xs12 v-if="isFetchingApi">
       <v-progress-linear
        style="margin: 2px 0px 1px 0px"
        height="3"
        color="primary"
        :indeterminate="isFetchingApi"
      ></v-progress-linear>
    </v-flex>
  </v-layout>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default{
  name: 'DataView',
  props: {
    viewHeight: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    scroll: {
      type: Object,
      default: () => {
        return {
          distance: 200
        }
      }
    },
    apiUrl: {
      type: String,
      required: true
    },
    params: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters(['isFetchingApi']),
    items () {
      return this.$store.getters['Dataview/dataViews'](this.name)
    }
  },
  methods: {
    ...mapActions(['fetchApi']),
    ...mapActions('Dataview', ['setDataview', 'initDataview', 'reloadDataview']),
    fetchSuccess (response) {
      this.setDataview({name: this.name, data: [...this.items.data || [], ...response.data]})
      if (!!response.meta && !!response.meta.pagination) {
        this.setDataview({name: this.name, pagination: response.meta.pagination})
      }
    },
    fetchData () {
      this.fetchApi({
        url: this.apiUrl,
        methods: 'GET',
        params: {...this.params, page: this.items && this.items.pagination ? this.items.pagination.current_page : null},
        success: this.fetchSuccess
      })
    },
    onScroll (e) {
      /**
       * check scroll down & scroll distance bottom <= distance
       * @author KingDarkness <nguyentranhoan13@gmail.com>
       */
      if (this.items.last_scroll_pos < e.target.scrollTop && (e.target.scrollHeight - (e.target.scrollTop + e.target.offsetHeight)) < this.scroll.distance) {
        if (this.items.pagination.total_pages && !this.isFetchingApi && this.items.pagination.current_page + 1 <= this.items.pagination.total_pages) {
          let pagination = {...this.items.pagination}
          ++pagination.current_page
          this.setDataview({name: this.name, pagination: pagination})
          this.fetchData()
        }
      }
      this.setDataview({name: this.name, last_scroll_pos: e.target.scrollTop})
    },
    resetDataView () {
      this.reloadDataview({name: this.name})
      this.fetchData()
    }
  },
  mounted () {
    if (!(this.items && this.items.data && this.items.data.length)) {
      this.fetchData()
    }
    this.$nextTick(() => {
      if (!this.items.last_scroll_pos) {
        this.setDataview({name: this.name, last_scroll_pos: 0})
      } else {
        this.$el.scrollTop = this.items.last_scroll_pos
      }
    })
  },
  created () {
    this.initDataview({name: this.name})
    this.$on('reload', () => {
      this.resetDataView()
    })
  }
}
</script>
