<template>
  <v-form @submit.prevent="validateBeforeSubmit">
    <v-text-field
      :error-messages="errors.has('name') ? errors.collect('name') : []"
      v-validate="'required|min:3'"
      :data-vv-as="$t('label.name')"
      prepend-icon="person"
      name="name"
      :label="$t('label.name')"
      v-model="user.name">
    </v-text-field>
    <v-text-field
      :error-messages="errors.has('email') ? errors.collect('email') : []"
      prepend-icon="email"
      v-validate="'required|email'"
      :data-vv-as="$t('label.email')"
      name="email"
      :label="$t('label.email')"
      type="email"
      v-model="user.email">
    </v-text-field>
    <v-text-field
      v-if="isCreate"
      :error-messages="errors.has('password') ? errors.collect('password') : []"
      prepend-icon="lock"
      v-validate="'required|min:6'"
      :data-vv-as="$t('label.password')"
      name="password"
      :label="$t('label.password')"
      type="password"
      v-model="user.password">
    </v-text-field>
    <v-text-field
      v-if="isCreate"
      :error-messages="errors.has('password_confirmation') ? errors.collect('password_confirmation') : []"
      prepend-icon="lock"
      v-validate="'required|min:6'"
      :data-vv-as="$t('label.password_confirmation')"
      name="password_confirmation"
      :label="$t('label.password_confirmation')"
      type="password"
      v-model="user.password_confirmation">
    </v-text-field>
    <v-flex xs12 text-xs-center>
      <v-btn
        :loading="isFetchingApi"
        :disabled="isFetchingApi"
        color="primary"
        type="submit"
        >
        <template v-if="isCreate">
          <v-icon left>add</v-icon> {{$t('control.create')}}
        </template>
        <template v-else>
          <v-icon left>save</v-icon> {{$t('control.save')}}
        </template>
      </v-btn>
    </v-flex>
  </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
export default{
  name: 'UserForm',
  computed: {
    ...mapGetters(['isFetchingApi']),
    isCreate () {
      return this.type === 'create'
    }
  },
  props: {
    type: {
      type: String,
      default: 'create'
    },
    dataUser: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      user: {
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      }
    }
  },
  methods: {
    setInitData () {
      this.user = {...this.user, ...this.dataUser}
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$emit('submit', this.user)
        } else {
          this.$store.dispatch('showNotify', {
            text: this.$t('alert.invalid'),
            type: 'warning'
          })
        }
      })
    }
  },
  created () {
    !!this.dataUser && this.setInitData()
  }
}
</script>
