<template>
    <v-layout ref="laylout" column fill-height>
      <v-toolbar dense color="white" flat>
        <v-btn icon @click="$router.push({name: 'user-create'})">
          <v-icon>add</v-icon>
        </v-btn>
        <v-text-field
          hide-details
          single-line
        ></v-text-field>

        <v-menu :nudge-width="100" offset-y>
          <!-- <v-toolbar-title slot="activator"> -->
            <v-btn icon slot="activator">
              <v-icon>more_vert</v-icon>
            </v-btn>
          <!-- </v-toolbar-title> -->

          <v-list>
            <v-list-tile
              v-for="item in 10"
              :key="item"
              @click=""
            >
              <v-list-tile-title v-text="item"></v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar>

      <v-flex xs12 class="border-e0-top">
        <data-view
          :name="dataViewName"
          api-url="users"
          v-if="dataViewHeight"
          :viewHeight="dataViewHeight"
          :params="params"
          :ref="dataViewName"
        >
          <template slot-scope="{items}">
            <v-list three-line>
              <template v-for="(item, index) in items.data">
                <v-list-tile
                  :key="item.index"
                  avatar
                  ripple
                  @click="userDetail(item)"
                  :inactive="item.id === $route.params.id"
                  :class="item.id === $route.params.id && 'grey lighten-2'"
                >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                    <v-list-tile-sub-title class="text--primary">{{ item.phone }}</v-list-tile-sub-title>
                    <v-list-tile-sub-title>{{ item.email }}</v-list-tile-sub-title>
                  </v-list-tile-content>

                  <v-list-tile-action>
                    <v-list-tile-action-text>{{ item.id }}</v-list-tile-action-text>
                    <v-icon
                      color="yellow darken-2"
                    >
                      star
                    </v-icon>
                  </v-list-tile-action>

                </v-list-tile>
                <v-divider
                  v-if="index + 1 < items.data.length"
                  :key="index"
                ></v-divider>
              </template>
            </v-list>
          </template>
        </data-view>
      </v-flex>
    </v-layout>
</template>

<script>
import DataView from '@/components/DataView/DataView'
import { mapActions } from 'vuex'
export default{
  name: 'UserListting',
  components: {
    DataView
  },
  data: () => ({
    dataViewHeight: 0,
    dataViewName: 'user',
    params: {
      q: ''
    }
  }),
  methods: {
    ...mapActions('User', ['setUser']),
    userDetail (user) {
      this.setUser({ user })
      this.$router.push({name: 'user-detail', params: {id: user.id}})
    }
  },
  mounted () {
    this.dataViewHeight = this.$refs.laylout.clientHeight - 48

    let query = {...this.$route.query}
    if (query.hasOwnProperty('reload')) {
      this.$nextTick(() => {
        this.$refs[this.dataViewName].$emit('reload')
      })
      delete query.reload
      this.$router.replace({
        query: query
      })
    }
  }
}
</script>
