<template>
  <layout-error />
</template>
<script>
import { forEach } from 'lodash'
import LayoutError from '@/components/LayoutError'
import { mapActions } from 'vuex'
export default {
  name: 'App',
  components: {
    LayoutError
  },
  methods: {
    ...mapActions(['setBreadcrumb']),
    itemTitle (item) {
      if (typeof item.title === 'object') {
        return this.$t(item.title.i18n)
      } else {
        return item.title
      }
    }
  },
  watch: {
    '$route' (to, from) {
      let breadcrumb = []
      to.matched.forEach((item, index) => {
        let path = item.path
        if (to.params) {
          forEach(to.params, (value, key) => {
            path = path.replace(new RegExp(`:${key}`, 'gi'), value)
          })
        }
        item.name !== 'home' && breadcrumb.push({path: path, name: this.itemTitle(item.meta)})
      })
      this.setBreadcrumb(breadcrumb)
    }
  }
}
</script>
